:root{
    --FuenteHeading:'PT Sans', sans-serif;
    --FuenteParrafos:'Open Sans', sans-serif;
    --Primario:#784D3C;
    --Blanco:#FFFFFF;
    --Negro:#000000;
    --Gris: #e1e1e1;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--FuenteParrafos);
    font-size: 1.8rem;
    line-height: 2;
}
/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/* Globales */
.contenedor{
    /* max-width: 120rem;
    width: 90%; */
    width: min(90%, 120rem);
    margin: 0 auto;



}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.boton{
    display: block;
    margin-bottom: 2rem;
    color: var(--Blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-family: var(--FuenteHeading);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}
@media(min-width: 768px) {
     .boton{
        display: inline-block;
     }
}
/* Header */
.header{
    background-image: url(../img/banner.jpg);
    height: 65rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media(min-width: 768PX) {
     .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     }
}
@media(min-width: 768px) {
     .navegacion{
        display: flex;
        gap: 2rem;
     }
}

.navegacion__enlace{
    display: block;
    text-align: center;
    color: var(--Blanco);
    font-size: 1.8rem;
}
.logo{
    color: var(--Blanco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
.header__texto{
    margin-top: 15rem;

    text-align: center;
    color: var(--Blanco);
    
}
/* Blog */
@media(min-width: 768px) {
     .contenido-Principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
     }
}
/* Cursos__aside */
.cursos{
    list-style: none;
}
.entrada{
    border-bottom: 1px solid var(--Gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.boton--primario{
    background-color: var(--Negro);
}
.boton--secundario{
    background-color: var(--Primario);
}


.widget-curso__label{
    font-family: var(--FuenteHeading);
    font-weight: 700;
}
.widget-curso__info{
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info{
    font-size: 2rem;
}
/* Footer */
.footer{
    background-color: var(--Negro);
    margin-top: 4rem;
    padding: 3rem 0;
}